
/* On screens that are 992px wide or less*/
@media screen and (max-width: 992px) {
  .products {   
    width: 40%;
  }
}

/* On screens that are 768px wide or less*/
@media screen and (max-width: 768px) {
  .nav-bar {

    .drop-menu-container {
      margin: 0;
      padding: 0;
        
      li a:not(.active) {
        display: none;     
      }

      .bars-icon {
        display: block;
        float: right;
        color: #ffffff;
        
        .fa-bars{
          font-size: 18px;
        }
      }
    }   
  }
}

/* On screens that are 768px wide or less*/
@media screen and (max-width: 768px) {
  span.contact, span.checkout, span.facebook, span.instagram, span.follow {
      display: none;
  }

  .search-box {   
    flex-direction: column;
    align-items: center;
  }

  .nav-bar {

    .drop-menu-container.responsive {
      margin: 0;
      padding: 0;
      flex-direction: column;

      .bars-icon {
        position: absolute;
        left: 41.7%;
      }

      li {
        width: 100%;
        
        .drop-down {
          position: relative;      
        }
      }
          
      li a:not(.active) {
        display: block;      
      }
    }   
  }
}

/* On screens that are 600px wide or less*/
@media screen and (max-width: 600px) {
  .products {   
    width: 80%;
  }

  .product-details {
    width: 80%;
  }

  .drop-menu-container {
    margin: 0;
    padding: 0;
      
    .landing-home {
      display: none;     
    }
  }
}

/* On screens that are 400px wide or less*/
@media screen and (max-width: 400px) {

  .details h5 {
      font-size: 12px;
      margin: 3px;

    p {
      font-size: 10px;
      margin: 2px;
    }
  }

  .more-details {
    width: 95%;
    margin-left: 10px;
  }
}